html, body {

    background: linear-Gradient(35deg, hsla(125, 26%, 27%, 0.527), #647c21a6 );
    width: 50% auto;
    height: 50% auto;
    margin: 0px auto; 
    color: #000000;  
};
   /*  decoration to links, link.css   */ 
      


   