html, body {
    height: 100%;
    width: 100%;
   
   /*  decoration to links, link.css   */ 
   
  };
  
   a:link, a:visited  {
   
    text-decoration: none;
   /* background-color: white; */
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    border-color: #008080;
	 
    
     
      
  }
  a:hover {
    text-decoration: none;
	background-color: #C0C0C0	 ;
  }
  a:active {
    text-decoration: none;
    color: black;
    background-color: rgb(74, 107, 74);
	background: "images/button.png";
  }
  .Zblock {-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ff1717;
  font-family: verdana, 'open sans', sans-serif;
  margin-bottom:25px;
  padding: 10px 14px 10px 10px;
  position: relative;
  box-shadow: 0px 1px 5px #999;
	  background-color: #006400  ; }

  
  .mblock{
    -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #000000;
  font-family: verdana, 'open sans', sans-serif;
  margin-bottom: -10px;
  padding: 10px 14px 10px 10px;
  position: relative;
  box-shadow: 0px 1px 5px #999;
  display: inline-block;
	background-color :  #F5F5DC ;

    
  }
  
@font-face {
    font-family: 'ITC Cheltenham Std Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Bold Condensed'), url('CheltenhamStdBoldCond.woff') format('woff');
    }