html, body {
/* background main page   https://www.w3schools.com/cssref/css3_pr_background-size.asp*/
background: rgb(195,34,34);  /* to fix visibility, still want among us look though */
background-repeat: no-repeat;
background-size: auto;
background: linear-gradient(40deg, rgba(195,34,34,1) 0%, rgba(0,0,0,1) 53%, rgba(253,45,45,1) 100%);
};



   /*  decoration to links, link.css   */ 
      


   